@model Warehouse.Models.Dialer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dialer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DialerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
